/* start custom scss snippet */
body{
  font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}

.page__content{
    padding-bottom: 40px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/* end custom scss snippet */