/* start custom scss snippet */
@font-face {
  font-family: sarasa;
  src: url('../fonts/Sarasa-Gothic-SC-Regular-02.woff') format('woff'),
       url('../fonts/Sarasa-Gothic-SC-Regular-02.ttf')  format('truetype');
}

body{
  font-family: sarasa,"Segoe UI",Helvetica,Arial,sans-serif;
}

.language-mermaid{
  font-family: sarasa,"Segoe UI",Helvetica,Arial,sans-serif;
}

.page__content{
    padding-bottom: 40px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
/* end custom scss snippet */